{% extends 'base9.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Homepage</title>
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
  <div class="row mx-0" style="background-image: linear-gradient(to right, #806d5c, #e4ddd7); padding: 1rem 0;">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img class="rounded-circle animate__animated animate__bounceIn animate__delay-0.5s" style="background-color: white; width: 90%; margin-bottom: 1rem;" src="{% static 'img/General_log_page-0001-removebg-preview.png' %}" alt="">
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <a href="{% url 'register' %}" class="text-decoration-none w-100">
        <div class="card animate__animated animate__fadeInLeftBig animate__delay-1s mb-3" style="background-color: #504033;">
          <div class="card-body">
            <h2 class="text-center text-white mb-0">LIDEGE EDUCATION LINK</h2>
          </div>
        </div>
      </a>
      <a href="#" class="text-decoration-none w-100">
        <div class="card animate__animated animate__fadeInRightBig animate__delay-1.5s mb-3" style="background-color: #29221b;">
          <div class="card-body">
            <h2 class="text-center text-white mb-0">LIDEGE MEDICAL TOURISM</h2>
          </div>
        </div>
      </a>
      <a href="#" class="text-decoration-none w-100">
        <div class="card animate__animated animate__fadeInLeftBig animate__delay-2s mb-3" style="background-color: #18120d;">
          <div class="card-body">
            <h2 class="text-center text-white mb-0">LIDEGE LOGISTICS</h2>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-2 animate__animated animate__fadeInRightBig animate__delay-2.5s" style="background-color: #9c8a79;">
      <div class="card mt-2" style="background-color: #29221b5d;">
        <img class="card-img-top" src="{% static 'img/student1.png' %}" alt="Student Image">
        <div class="card-body">
          <p>Degrees from Global institutions hold weight in the international job market, making graduates competitive and sought after by employers.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0" style="background-image: linear-gradient(to right, #D9CCC1, #806d5c); height: 10rem;"></div>
</div>
{% endblock %}
